@import '../../css/variables.scss';

.Cart{
    background-color: $White;
    width: 20rem;
    min-height: 10rem;
    z-index: 5;
    margin-top: 3rem;
    margin-left: -150%;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 25px $Very-vark-blue-a;
    position: absolute;
    .Cart-title{
        padding: 0.5rem 1rem;
        border-bottom: 1px solid $Grayish-blue-a ;
        font-weight: 600;
        text-align: left;
    }
    padding-bottom: 1rem;
    justify-content: center;
   // align-items: center;
}





.Empty{
    padding-left: auto;
    padding-right: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    color: $Grayish-blue;
    font-size: 0.8rem;
    text-align: center;
    //background-color: aqua;
}
