@import '../../css/variables.scss';

.Description{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $Font;
}

.Company{
    color: $orange;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.3rem;
}

.Title{
    font-size: 2rem;
    font-weight: 700;
    padding-top: 2rem;
}

.Text{
    font-size: 1rem;
    color: $Dark-grayish-blue;
    padding-top: 2rem;
}

.Prices{
    width: 100%;
    padding-top: 2rem;
    //float:left;
}

.AfterDiscount{
    font-size: 1.5rem;
    font-weight: 600;
    
        & span{
            vertical-align: 0.3rem;
            background-color: $Pale-orange;
            color: $orange;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 0.25rem 0.5rem;
            font-size: 0.75rem;
            letter-spacing: 0.1rem;
            margin-left: 0.5rem;
        }
}

.BeforeDiscount{
    font-size: 1rem;
    font-weight: 600;
    color: $Grayish-blue;
    text-decoration: line-through;
    padding-top: 0.5rem;

}

