@import 'variables.scss';

.Cart{
   // display: none;
    background-color: $White;
    width: 12rem;
    height: 10rem;
    z-index: 2;
    margin-top: -3rem;
    margin-left: 70%;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 25px hsla(220, 13%, 13%, 0.5);
    position: relative;
    .Cart-title{
        padding: 0.5rem 1rem;
        border-bottom: 1px solid $Grayish-blue ;
        font-weight: 600;
    }

}

.Empty{
    padding-left: auto;
    padding-right: auto;
    padding-top: 20%;
    color: $Grayish-blue;
    font-size: 0.8rem;
    text-align: center;
    //background-color: aqua;
}