@import '../css/variables.scss';

header{
    display: flex;
    flex-direction: row;
    height: 10%;
    box-sizing: border-box;
    width: 1440px;
    padding-top: 1rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
    @media  screen and (max-width:$SM-screen) {
        width:$SM-screen;
        border-bottom: 0;
    }
}