header{
    display: flex;
    flex-direction: row;
    height: 10%;
    box-sizing: border-box;
    width: 1440px;
    padding-top: 1rem;
    border-bottom: 1px solid grey;
    //background-color: green;
}