@import 'variables.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: $Font;
}

html{
    font-size: 16px;
    @media only screen and (max-width: $SM-screen) {
        font-size: 12px;
    }
}

#root{
    display: flex;
    align-items: center;
    //justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 1440px;
    height: 100vh;
    @media only screen and (max-width: $SM-screen) {
        width: 375px;
    }
}

