@import 'variables.scss';

.Menu{
   // background-color: aqua;
    width:fit-content;
    height: 100%;
    width: 40rem;
    @media screen and (max-width:$SM-screen) {
        display:none;
    }
}

.MenuList{
    list-style: none;
    display: block;
   // width: 30rem;
    li{
        float: left;
        padding: 0 1rem;
        padding-bottom: 2rem;
        border-bottom: 5px solid $White;
        &:hover{
            border-bottom: 5px solid $orange;
            cursor: pointer;

        }
    }
    
}