@import 'variables.scss';

.MenuList{
    list-style: none;
    display: block;
    li{
        float: left;
        padding: 0 1.5rem;
        padding-bottom: 11.5%;
        &:hover{
            border-bottom: 5px solid $orange;
            cursor: pointer;
        }
    }
}