@import 'variables.scss';

.Menu{
   // background-color: aqua;
    width:fit-content;
    height: 100%;
    width: 40rem;
    @media screen and (max-width:$SM-screen) {
        display:none;
    }
}

.MenuList{
    list-style: none;
    display: block;
    padding-bottom: 1rem;
    height: 100%;
    li{
        float: left;
        padding: 0 1rem;
        padding-bottom: 2rem;
        border-bottom: 5px solid transparent;
        cursor: pointer;
        &:hover{
            border-bottom: 5px solid $orange;
            

        }
    }
    
}